<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="CheckinUrl" value="http://oa.csair.com/eportal/ui?pageId=103253" />    
    <add key="ImgId" value="yzm" />
    <add key="TxtId" value="txtYZM" />
    <add key="BtnCheckInId" value="btnSignIn" />
    <add key="BtnCheckOutId" value="btnSignOut" />
    <add key="SelectCheckInTypeId" value="worktype" />
    
    <!-- 签到检查的时间间隔，单位：毫秒  -->
    <add key="TimeInterval" value="30000" />
    <!-- 延时获取结果的时间，单位：毫秒  -->
    <add key="DelayResult" value="1000" />
    <!-- 签到失败后的，重复签到次数 -->
    <add key="CheckInOutTimes" value="10" />

    <add key="IniFileSection" value="" />
    <add key="LogFileName" value="OfficeTool.log" />
    <add key="IniFileName" value="OfficeTool.txt" />
    <add key="NotWorkDay" value="NotWorkDay.txt" />
    <add key="VerificationCodeDB" value="VerificationCodeDB.txt" />    
    
    <add key="CheckInRepeat" value="您今天已经签到了！" />
    <add key="CheckInSuccess" value="签到成功" />
    <add key="CheckOutEarly" value="签退成功，未到下班时间" />
    <add key="CheckOutSuccess" value="签退成功" />
    <add key="CheckInType" value="新机场正常班|旧机场正常班|上午班|下午班|日班|夜班|信息大楼夜班|视频会议保障晚班" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>