<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LoginUrl" value="https://ids.csair.com" />
    <add key="LoginKey" value="loginKey" />
    <add key="LoginPsw" value="password" />
    <add key="LoginVerifyCodeWrap" value="verifyCode-div" />
    <add key="LoginVc" value="verifycode" />
    <add key="BtnLoginId" value="submitLoginBtn" />
    <add key="CheckinUrl" value="http://oa.csair.com/eportal/ui?pageId=103253" />
    <add key="ImgId" value="yzm" />
    <add key="TxtId" value="txtYZM" />
    <add key="BtnCheckInId" value="btnSignIn" />
    <add key="BtnCheckOutId" value="btnSignOut" />
    <add key="SelectCheckInTypeId" value="worktype" />
    <!-- 签到检查的时间间隔，单位：毫秒  -->
    <add key="TimeInterval" value="30000" />
    <!-- 延时获取结果的时间，单位：毫秒  -->
    <add key="DelayResult" value="2000" />
    <!-- 签到失败后的，重复签到次数 -->
    <add key="CheckInOutTimes" value="10" />
    <add key="LogFileName" value="OfficeTool.log" />
    <add key="IniFileName" value="OfficeTool.txt" />
    <add key="IniNotWorkDay" value="NotWorkDay.txt" />
    <add key="IniFileSection" value="" />
    <add key="VerifyCodeDB_Checkin" value="VerifyCodeDB_Checkin.txt" />
    <add key="VerifyCodeDB_Login" value="VerifyCodeDB_Login.txt" />
    <add key="CheckInRepeat" value="您今天已经签到了！" />
    <add key="CheckInSuccess" value="签到成功" />
    <add key="CheckOutEarly" value="签退成功，未到下班时间" />
    <add key="CheckOutSuccess" value="签退成功" />
    <add key="CheckInType" value="新机场正常班|旧机场正常班|上午班|下午班|日班|夜班|信息大楼夜班|视频会议保障晚班" />
    <add key="ModalWindowName" value="生产指标完成情况_备份 -- 网页对话框" />
  </appSettings>
</configuration>