<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="LogFileName" value="OfficeTool.log" />
    <add key="IniFileName" value="OfficeTool.ini" />
    <add key="IniFileSection" value="" />

    <add key="CheckinUrl" value="http://oa.csair.com/tabid/908/Default.aspx" />
    <add key="ImgId" value="ess_ctr2196_DefaultControl_ctl00_Image1" />
    <add key="TxtId" value="ess_ctr2196_DefaultControl_ctl00_txtYZM" />
    <add key="BtnCheckInId" value="ess_ctr2196_DefaultControl_ctl00_btnSignIn" />
    <add key="BtnCheckOutId" value="ess_ctr2196_DefaultControl_ctl00_btnSignOut" />

    <!-- 签到检查的时间间隔，单位：毫秒  -->
    <add key="TimeInterval" value="30000" />
    <!-- 延时获取结果的时间，单位：毫秒  -->
    <add key="DelayResult" value="1000" />
    <!-- 签到失败后的，重复签到次数 -->
    <add key="CheckInOutTimes" value="3" />

    <add key="VerificationCodeDB" value="VerificationCodeDB.ini" />
    <add key="NotWorkDay" value="NotWorkDay.ini" />

    <add key="CheckInRepeat" value="您今天已经签到了！" />
    <add key="CheckInSuccess" value="签到成功" />
    <add key="CheckOutEarly" value="签退成功，未到下班时间" />
    <add key="CheckOutSuccess" value="签退成功" />

  </appSettings>
</configuration>
