html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tab-content {
    position: relative;
}

.tab-content > div {
    float: left;
}

.tab-menu {
    position: absolute;
    bottom: 0;
    border-top: 2px solid #9ac7ed;
    width: 100%;
    height: 45px;
}

.tab-menu > div {
    float: left;
    width: 25%;
    height: 100%;
    color: #2a70be;
    line-height: 45px;
    text-align: center;
    background: #ECF2F6;
    border-left: 1px solid #E5E6E7;
    margin-right: -1px;
}

.tab-menu > .current {
    border-top: 2px solid #2a70be;
    margin-top: -2px;
    background: #FFF;
    color: #c14545;
}